<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="css">
        <style>
            .pagination {
                list-style: none;
                width: 100%;
                display: inline-block;
            }

            .pagination-btn {
                float: left;
                margin-left: 5px;
            }
        </style>
    </th:block>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(function () {
                //페이지 번호, 이전, 다음 클릭 시
                $(".pagination a").on("click", function (e) {
                    e.preventDefault();

                    $("#pageNum").val($(this).attr("href"));
                    $("#searchForm").submit();
                });
            });

            $("#btnSearch").on("click", () => {
                $("#pageNum").val(1);

                $("#searchForm").submit();
            });
        </script>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h3>게시글 목록</h3>
        <form id="searchForm" action="/board/getBoardList.do" method="post">
            <table border="1" style="width: 700px; border-collapse: collapse;">
                <tr>
                    <td align="right">
                        <select name="searchCondition">
                            <option value="all" th:selected="${searchCondition == 'all' ||
            searchCondition == '' || searchCondition == null}">전체
                            </option>
                            <option value="title" th:selected="${searchCondition == 'title'}">제목</option>
                            <option value="content" th:selected="${searchCondition == 'content'}">내용</option>
                            <option value="writer" th:selected="${searchCondition == 'writer'}">작성자</option>
                        </select>
                        <input type="text" name="searchKeyword" th:value="${searchKeyword }">
                        <button type="button" id="btnSearch">검색</button>
                    </td>
                </tr>
            </table>
        </form>

        <table id="boardTable" border="1" style="width: 700px; border-collapse: collapse;">
            <tr>
                <th style="background: skyblue; width: 100px;">번호</th>
                <th style="background: skyblue; width: 200px;">제목</th>
                <th style="background: skyblue; width: 150px;">작성자</th>
                <th style="background: skyblue; width: 150px;">등록일</th>
                <th style="background: skyblue; width: 100px;">조회수</th>
            </tr>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.boardNo }"></td>
                <td>
                    <a th:text="${board.boardTitle }"
                       th:href="@{/board/board/{boardNo} (boardNo=${board.boardNo})}">
                    </a>
                </td>
                <td th:text="${board.boardWriter }"></td>
                <td th:text="${#strings.substring(board.boardRegdate, 0, 10) }"></td>
                <td th:text="${board.boardCnt }"></td>
            </tr>
        </table>
        <br/>
        <div style="text-align: center;">
            <ul class="pagination" th:if="${boardList.totalElements >0}"
                th:with="pageNumber = ${boardList.pageeble.pageNumber},
                                             pageSize = ${boardList.pageable.pageSize},
                                             totalPages = ${boardList.totalPages},
                                             startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                                             tempEndPage = ${statPage+pageSize -1},
                                             endPage = ${tempEndPage > totalPages ? totalPages : tempEndPage}">
                <li class="pagination-btn" th:if="${pageNumber>0}">
                    <a th:href="@{/board/board-List(page=${pageNumber - 1})}">
                        이전
                    </a>
                </li>
                <li class="pagination-btn" th:each="page : ${#numbers.sequence(startPage,endPage)} ">
                    <a th:href="@{/board/board-List(page=${page - 1})}" th:text="${page}">

                    </a>
                </li>
                <li class="pagination-btn" th:if="${pageNumber<totalPages -1}">
                    <a th:href="@{/board/board-List(page=${pageNumber + 1})}">
                        다음
                    </a>
                </li>
            </ul>
        </div>
        <br/>
        <a href="/board/insert-board-view">새 글 등록</a>
    </div>
</div>
</body>
</html>